.nav_bar_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}
.left_section{
    display: flex;
    flex-direction: row;
    gap: 20px;  
}
.left_section i {
    font-size: 35px;
    color: #031F85;
}
.title_part h4{
    font-size: 30px;
    font-weight: 700;
    color: #031F85;
}
.body_headSection{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 7px 10px;
    align-items: center;
}
.classification_all{
    display: flex;
    gap: 30px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 0px gray;
}
.classification{
    padding: 10px 20px ;
    font-size: 15px;
    font-weight: 600;
}
.classification.all{
    padding: 10px 40px;
    background-color: #059b05cc;
    border-radius: 10px;
    color: white;
}
.classification.active{
    padding: 10px 30px;
}
.mainblue_btn button{
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 0px gray;
    border: none;
    background-color: #031F85;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.body_contnet_section{
    padding: 10px 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 18px;
}
.table_content{
  
    background-color: wheat;
    border-radius: 12px;
}
.table_header, .table_body_content{
    padding: 18px 48px;
    text-align: center;
}
.body_contnet_section table{
    width: 100%;
}
.table_style tbody tr{
    padding: 10px 0px;
}
.main_home{
    min-height: 100vh;
}
/* ///////////////////////////////////////// */
.body_content_section{
    background-color: #F6F4F4;
    border-radius: 15px;
    padding: 10px 10px
}
.main_profile_section{
display: flex;
}
.semi_profile_section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius:10px;
    width: 48%;
}
.semi_profile_topsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #C4C4C4;
}
.semi_profile_bottomsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.sub_title_depart p{
    color: #7C89BA;
    font-size: 15px;
    font-weight: 600;
}
.price{
    display: flex;
    gap: 10px;
}
.value_head p{
    color: #7C89BA;
    font-size: 13px;
    font-weight: 600;
}
.value_range p{
    color: #031F85;
    font-size: 13px;
    font-weight: 600;
}
.profile_name{
    display: flex;
    flex-direction: column;
}
.location{
    display: flex;
    gap: 5px;
}
.checkAvailability{
    display: flex;
    gap: 5px;
    align-items: center;
}
.profilename_section p{
    font-size: 15px;
    font-weight: 800;
}
.profilename_section{
    padding-bottom: 5px;
}
.location i{
    font-size: 15px;
    color: #C4C4C4;
}
.location p  {
    font-size: 10px;
    font-weight: 500;
}
.check_btn  button{
    padding: 10px 5px;
    border: none;
    background-color:#031F85;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
}
.check_msg i{
    font-size: 23px;
    padding-top: 13px;
    color: #C4C4C4;
}

/* ///////////////////////////////////////////////// */
.main_top_section{
    padding: 18px 10px;
    background-color: white;
    border-radius: 10px;
}
.name_dep{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nameof_doc p{
    font-size: 17px;
    font-weight: 700;
    color: #031F85;
}
.nameof_dept p{
    font-size: 12px;
    font-weight: 600;
    color: blue;
}
/* /////////////////////// */

.calendar {
    width: 93%;
    text-align: center;
    padding: 20px 35px;
    margin: 20px 1px;
    background-color: white;
    border-radius: 10px;
}
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .days {
    display: flex;
    justify-content: space-between;
  }
  
  .day {
    flex: 1;
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #031F85;
  }
  
  .cells {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 14.28%;
    padding: 10px;
    box-sizing: border-box;
  }
  .header h5 {
    font-size: 15px;
    font-weight: 700;
    color: #031F85;
  }
  .clanderBtn{
    display: flex;
    gap: 15px;
  }
  .calendar button{
    border: none;
    border-radius: 17px;
    width: 35px;
    height: 35px;
    background-color: #031F85;
    color: white;
  }
  /* //////////////////////// */
  .content_box-section{
    display: flex;
  }
  .time_sections{
    display: flex;
  }
  .time_each_section{
    width: 22%;
    padding: 10px;
    background-color:#e8dddd94;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .time_section_main{
    padding: 20px 20px;
    margin: 20px 13px;
    background-color: white;
    border-radius: 10px;
  }