.submit_btn a{
    color: white;
    text-decoration: none;
   width: 100%;
}
.submit_btn{
    margin-top: 45px;
    width: 100%;
}

.footer_section.footer{
    margin-top: 9pc;
}
.btn_submit{
    width: 100%;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 0px;
}