.banner_section-header{
    display: flex;
    padding: 15px 18px;
    gap: 22px;
    background-color: white;
    width: 26%;
    margin: 16px 17px;
    border-radius: 7px;
}
.btn-CreateReport{
    background-color: #09099b;
    font-weight: 700;
    font-size: 15px;
    margin-right: 25px;
    border: none;
    padding: 9px 13px;
    border-radius: 10px;
}
.btn-CreateReport a {
    text-decoration: none;
    color: white;
}
.banner_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerClassification{
    padding: 8px 20px;
    border-radius: 6px;
}
.headerClassification.all{
    padding: 8px 40px;
    background-color: #09099b;
}
.headerClassification.all p{
    color: white;
}

.table-header,.tableValues {
    padding: 16px 52px;
    text-align: center;
}
.table-header{
    font-size: 15px;
    font-weight: 700;
   color: #564646bd;
}
.tableValues{
    font-size: 14px;
    font-weight: 700;
    color:#0e0ed5;
}
.headerClassification p{
    font-size: 13px;
    font-weight: 700;
    color: darkblue;
}
.table-bodyContent tr:hover {
    background-color: #e2dfdf9d;
}

/* ////////////////reportdetails//////////// */
.patientdetails-profileimage{
    width: 5%;
}
.patientdetails-profileimage img {
    width: 100%;
    border-radius: 50%;
}
.bodyContainer{
    display: flex;
    flex-direction: column;
}
.reportDetils-bodySection{
    display: flex;
    flex-direction: row;
}

/* ////////////////create report///////// */

.btn-saveReport{
    background-color: #09099b;
    font-weight: 700;
    font-size: 15px;
    border: none;
    padding: 9px 37px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.save_report{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 43px;
}
.btn-saveReport a {
    text-decoration: none;
    color: white;
}
.reportadding_section{
    display: flex;
    justify-content: space-around;
}
.report_inputBoxValues{
    padding: 2px 0;
    border-bottom: 1px solid #9B9797;
}
.report_inputBoxValues input{
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0;
}
.report_inputMain{
    padding: 13px 0;
}
.report_inputMain p{
    color: #9B9797;
    font-size: 12px;
    font-weight: 600;
}
.name_part{
    width: 45%;
}
