.profilefullSection{
    display: flex;
    flex-direction: column;
    min-height: 87vh;
    background-color: #ffffff86;
    border-radius: 15px;
}
.profileHeader{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px
}
.profileimage-navbarSection{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 15px
}
.profile_name p{
    font-size: 18px;
    font-weight: 700;

}

.profile_maininput p{
    color: #9B9797;
    font-size: 12px;
    font-weight: 600;
}
.profile_inputBox{
    padding: 15px 0;
    border-bottom: 1px solid #9B9797;
}
.profile_maininput{
    padding: 12px 0;
}
.profileBottom{
    display: flex;
    justify-content:space-around
}
.profile-heading{
    display: flex;
    justify-content: center;
}
.profile-heading h5{
    font-size: 20px;
    color: #031F85;
    font-weight: 700;
}
.profileImage_box{
    width: 10%;
   
}
.profileImage_box img{
    width: 100%;
    border-radius: 50px;
}
.btn_foredit{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}
.btn_foredit p{
    font-size: 15px;
    font-weight: 600;
    color: #9B9797;
}
.btn_foredit i {
    font-size: 15px;
    color: #9B9797; 
}