.chating_peopele{
    background-color: white;
    min-height: 87vh;
    padding: 15px 15px;
}
.eachChat-people{
display: flex;
}
.chatSection{
  
}
.eachChat-people{
    padding: 29px 10px;
    border-top: 1px solid;
}
.head_searchSection{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.head_searchSection input {
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #9b97972e;
}
.Dp_image{
    width: 15%;
}
.Dp_image img{
    width: 100%;
    border-radius: 50%;
}
.profile_dp{
    display: flex;
    align-items: center;
    gap: 10px;
}